# bin and packages should be generated/setup on an individual basis
bin/*
/src/packages/*

/src/.vs
/src/SpacePot8tosEditorScripts/Properties/*
/src/SpacePot8tosEditorScripts/obj/*
/src/obj/*
/src/SpacePot8tosEditorScripts/SpacePot8tosEditorScripts.csproj.user

# ignores temporary scene folders
/SceneObj/temp_scene_save_folder*

# ignore shader caches
/SceneObj/*/ShaderCache/*
/SceneObj/Backups/*/ShaderCache/*