#release gitignore
# bin and packages should be generated/setup on an individual basis
bin/*

# don't need source for release
/src/*

# ignores temporary scene folders
**/temp_scene_save_folder*

# ignores scene shader cahces
/SceneObj/Backups/*
/SceneObj/*/ShaderCache/*
/SceneEditData/Backups/*